<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="input-group">
      <input type="text" class="form-control principal-search" placeholder="Search the product" aria-label="Search the product" aria-describedby="btnGroupAddon">
    </div>

    <i class="fas fa-comments icon-principal-search"></i>

  </div>
</nav>
