.principal-search{
  border-radius: 10px;
}

.icon-principal-search{
  width: 40px;
  font-size: 24px;
  margin-left: 10px;
  color: white;
}

.bg-light {
  background-color: rgba(0,0,0,.075)!important;
}
