<div class="container">

  <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">brand</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Shops</a>
    </li>
  </ul>
  <div class="tab-content mb-15" id="myTabContent">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


      <div class="row">
        <div class="col-sm">

          <div class="card text-center mt-3">
            <div class="card-body">
              <img src="/assets/images/store1.jpeg" class="rounded-circle" width="100" height="100">
              <h5 class="card-title">Elegant</h5>
              <p class="card-text">Star Designer</p>
              <a href="#" class="btn btn-primary-theme">view</a>
            </div>
          </div>

        </div>
        <div class="col-sm">

          <div class="card text-center mt-3">
            <div class="card-body">
              <img src="/assets/images/store2.jpg" class="rounded-circle" width="100" height="100">
              <h5 class="card-title">Marclano</h5>
              <p class="card-text">Classic Heritage</p>
              <a href="#" class="btn btn-primary-theme">view</a>
            </div>
          </div>

        </div>
        <div class="col-sm">

          <div class="card text-center mt-3">
            <div class="card-body">
              <img src="/assets/images/store3.png" class="rounded-circle" width="100" height="100">
              <h5 class="card-title">Zucalli</h5>
              <p class="card-text">Tile Colocations</p>
              <a href="#" class="btn btn-primary-theme">view</a>
            </div>
          </div>

        </div>
      </div>


      <div class="container mt-3">

        <div class="card mt-3">
          <img src="/assets/images/storage4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title title-product">Card title</h5>

            <div class="row">
              <div class="col-sm-8">
                <p class="card-text">Give a person with a kind of warm bold and...</p>
              </div>
              <div class="col-sm-4 text-center">
                <p class="price-home">120</p>
                <a href="#" class="btn btn-primary-theme">like</a>
              </div>
            </div>

          </div>
        </div>

        <div class="card mt-3">
          <img src="/assets/images/storage4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title title-product">Card title</h5>

            <div class="row">
              <div class="col-sm-8">
                <p class="card-text">Give a person with a kind of warm bold and...</p>
              </div>
              <div class="col-sm-4 text-center">
                <p class="price-home">120</p>
                <a href="#" class="btn btn-primary-theme">like</a>
              </div>
            </div>

          </div>
        </div>

        <div class="card mt-3">
          <img src="/assets/images/storage4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title title-product">Card title</h5>

            <div class="row">
              <div class="col-sm-8">
                <p class="card-text">Give a person with a kind of warm bold and...</p>
              </div>
              <div class="col-sm-4 text-center">
                <p class="price-home">120</p>
                <a href="#" class="btn btn-primary-theme">like</a>
              </div>
            </div>

          </div>
        </div>

      </div>



    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>


</div>
