<div class="jumbotron">

  <div class="filter-color-background">

    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm text-center">
        <h3 class="lead-name">My Information</h3>
      </div>
      <div class="col-sm">

      </div>
    </div>

    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm text-center">

        <img src="/assets/images/store1.jpeg" class="rounded-circle" width="200" height="200">

      </div>
      <div class="col-sm">

      </div>
    </div>

    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm text-center">
        <h3 class="lead lead-date">Owen Davey</h3>
      </div>
      <div class="col-sm">

      </div>
    </div>

    <div class="row">
      <div class="col-sm text-center">
        <h3 class="lead-date">0.98k</h3>
        <h3 class="lead lead-date">Spend</h3>
      </div>
      <div class="col-sm text-center">
        <h3 class="lead-date">14</h3>
        <h3 class="lead lead-date">Already Buy</h3>
      </div>
      <div class="col-sm text-center">
        <h3 class="lead-date">68</h3>
        <h3 class="lead lead-date">Collection</h3>
      </div>
    </div>

  </div>

</div>

<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bougth</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Unpaid</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

      <div class="media media-home-recommended mt-3">
        <img src="/assets/images/reco1.jpg" class="mr-3" alt="..." width="200" height="200">
        <div class="media-body">
          <h5 class="mt-0 title-product">Cotton printed quilt</h5>
          <p>All cotton wool fabric, protin fiber filled, delicate and delicate details...</p>
          <p class="price-home">$14.50</p>
          <div class="text-right">

          </div>
        </div>
      </div>

      <div class="media media-home-recommended mt-3">
        <img src="/assets/images/reco1.jpg" class="mr-3" alt="..." width="200" height="200">
        <div class="media-body">
          <h5 class="mt-0 title-product">Cotton printed quilt</h5>
          <p>All cotton wool fabric, protin fiber filled, delicate and delicate details...</p>
          <p class="price-home">$14.50</p>
          <div class="text-right">

          </div>
        </div>
      </div>

      <div class="media media-home-recommended mt-3">
        <img src="/assets/images/reco1.jpg" class="mr-3" alt="..." width="200" height="200">
        <div class="media-body">
          <h5 class="mt-0 title-product">Cotton printed quilt</h5>
          <p>All cotton wool fabric, protin fiber filled, delicate and delicate details...</p>
          <p class="price-home">$14.50</p>
          <div class="text-right">

          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>

</div>
