<div class="jumbotron">

  <div class="filter-color-background">

    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm text-center">
        <h3 class="lead lead-name">BRADLEY</h3>
      </div>
      <div class="col-sm">

      </div>
    </div>

    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <div class="square-principal">
          <h3 class="display-3">New Collections</h3>
        </div>
      </div>
      <div class="col-sm">

      </div>
    </div>

    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm text-center">
        <h3 class="lead lead-date">.2019.</h3>
      </div>
      <div class="col-sm">

      </div>
    </div>

  </div>

</div>

